body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Vazirmatn, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

#page1 {
    background-image: url(./assets/images/background1.jpeg);
}

#page2 {
    background-image: url(./assets/images/background2.jpeg);
}





/* Login page styles start from here: */

.login-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    max-width: 25rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(32, 32, 32, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container input:focus {
    background-color: #fff;
    border: 1px solid #333;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

button {
    background-color: #07294e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}




/* Table styles starts from here:  */
.container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(207, 200, 200, 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    max-width: 800px;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: relative;
    font-size: 18px;
}

.header {
    margin: 10px;
}

.date-range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}

.date-range input {
    border: 1px solid #797676;
    color: #fff;
    width: auto;
    font-family: inherit;
    font-size: 18px;
    background-color: transparent;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    font-weight: bold;
    text-align: center;
    border: 1px solid #928e8e;
    padding: 5px;
    font-size: 18px;
}

tbody td {
    border: 1px solid #928e8e;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

tbody td:nth-child(1) {
    font-weight: bold;
}

.footer {
    text-align: center;
    margin: 15px;
    font-size: 18px;
}





/* modal styles atarts from here: */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-family: Vazirmatn, sans-serif;
}

#modal-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #07294e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#modal-button:hover {
    background-color: #0056b3;
}




@media only screen and (max-width: 768px) {
    body {
        background-size: fill;
        background-repeat: repeat;
    }

    .container {
        width: 100%;
        font-size: 12px;

    }

    table {
        margin: 10px;
    }

    .date-range {
        flex-direction: column;
        align-items: center;
    }

    .date-range span {
        margin-bottom: 10px;
    }

    thead th,
    tbody td {
        font-size: 14px;
    }
}